<app-header></app-header>

<main>
  <ul id="users">
    @for (user of users; track user.id){
      <li>
        <app-user
          [user]="user"
          [selected]="user.id === selectedUsrId"
          (select)="onSelectUser($event)"
        ></app-user>
      </li>
    }
  </ul>

  @if (selectedUserName){
    <app-tasks [selectedName]="selectedUserName" [selectedUserId]="selectedUsrId">
    </app-tasks>
  }
  @else {
    <p id="fallback">Please select a user to view their tasks</p>
  }
  
</main>